[Unit]
Description=HTTP/HTTPS checker service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/hhchecker --config.enabled --config.file-name=/etc/hhchecker/hhchecker.yml

[Install]
WantedBy=multi-user.target